/* Application styles could go here */

.loginBox {
    width:200px;
}

#login {
    background:white;
    border: 1px black solid;
    width:400px;
    margin:0 auto;
    padding:5px 10px;
    border-radius:5px;
    margin-top:100px;
}

#login_logo {
    width:120px;
    margin:0 auto;
}


#login_logo img {
    width:120px;
}

#showPwd {
    margin-left: 5px; 
    margin-right: 5px;
}

#loginError {
    color:red;
    margin-top:6px;
    font-size:10px;
}