/* tables */
table.tablesorter {
	font-family:arial;
	border: 2px solid #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 2px solid #CDCDCD;
	font-size: 8pt;
	padding: 4px;
	padding-right:16px;
}
table.tablesorter thead tr .header {
    background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	height: 40px;
}
table.tablesorter tbody td {
	border: 2px solid #CDCDCD;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.even td {
	background-color:#ECECEC;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}